@font-face {
    font-family: "Inconsolata";
    src: url(/files/Inconsolata.ttf) format("truetype");
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: Georgia,"Times New Roman",Times,serif;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
}

div#logo a {
    color: black;
    float: left;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#content a {
    text-decoration: none;
    color: #3D65A3;
}

div#content a:hover {
    text-decoration: none;
    color: #0045B0;
}

div.footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    padding-bottom: 34px;
}

div.footer a {
    color: #000;
    text-decoration: none;
}

div.footer-lt {
    margin-top: 9px;
    font-size: 18px;
    float: left;
}

div.footer-rt {
    margin-top: 12px;
    float: right;
}

li {
    margin-top: 10px;
}

div.contact li {
    margin-top: 10px;
}

ul#posts li {
    margin-top: 10px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

code {
    font-size: 13px;
    border: 1px solid #eeeed2;
    color: #555555;
    display: inline-block;
    padding: 2px 4px;
}

blockquote {
    color: #505050;
}

.sk {
    font-weight: bold;
}

.sk-6 {
    color: #333;
}
.sk-5 {
    color: #555;
}
.sk-4 {
    color: #777;
}
.sk-3 {
    color: #999;
}
.sk-2 {
    color: #AAA;
}
.sk-1 {
    color: #BBB;
}
.sk-0 {
    color: #CCC;
}

.sk-grad {
    height: 4px;
    background: -webkit-linear-gradient(left, #505050 , #E8E8E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #505050, #E8E8E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #505050, #E8E8E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #505050 , #E8E8E8); /* Standard syntax (must be last) */
}

.sk-table {
    width: 100%;
}
