<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.55">
    <meta name="keywords" content="Linux,ChromeOS,Functional Programming,Haskell,Elm,AWS,Programming,Software Engineering,Software Development,Computer Science,UIUC,Chief Technology Officer">
    <meta name="description" content="Technology Leader, Software Engineer, Functional Programming Expert, Linux User, Teacher, Learner, Avid Reader, Culinary Enthusiast"/>
    $if(skip_head_title)$
    <title>Christian Charukiewicz</title>
    $else$
    <title>$title$ | Christian Charukiewicz</title>
    $endif$
    <link href="https://fonts.googleapis.com/css?family=Lato|PT+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link href='/images/fav.png' rel='shortcut icon'>
    $partial("templates/ga.html")$
    $partial("templates/clicky.html")$
    $if(thumbnail_image)$
        $partial("templates/twitter-card.html")$
        $partial("templates/facebook-og.html")$
    $endif$
</head>
